body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url(../images/temp_bckgrd.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.hidden {
  display: none;
}

#sticley-nav-con {
  background-color: #d10dd1;
  padding: 10px;
}

#main-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#main-nav ul li {
  margin: 0 15px;
}

#main-nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#button {
  text-align: center;
  margin-top: 20px;
}

#button button {
  background-color: #d10dd1;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

#move-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#move-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.music-pieces {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#hero-image {
  padding-left: 30px;
  display: flex;
  gap: 20px;
}

#hero-image img {
  max-width: 40%;
  max-height: 30%;
}

.drop-move {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-right: 20px;
  padding: 25px 50px 75px 50px;
}

.drop-move .drop-zone {
  width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
}

.drop-move .drop-zone img {
  max-width: 100%;
  height: auto;
}

.box {
  width: 70px;
  height: 70px;
  background-color: white;
  border: 2px solid #d10dd1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  flex-direction: column;
}

footer {
  text-align: center;
  background-color: #d10dd1;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
