body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../images/bckgrd.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.hidden {
  display: none;
}

#sticley-nav-con {
  background-color: #d10dd1;
  padding: 7px;
}

#main-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#main-nav ul li {
  margin: 0 15px;
}

#main-nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.button {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}

#volumeControl {
  width: 150px; /* Adjust the width as needed */
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#hero-image {
  display: flex;
  gap: 20px;
}

#move-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#move-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.music-pieces {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#hero-image img {
  max-width: 40%;
  max-height: 30%;
}

.volumeControl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-move {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 25px 50px 75px 50px;
}

.drop-move .drop-zone {
  width: 130px;
  height: 170px;
  background-color: #c549d7;
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center; /* Center items horizontally */
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.drop-move .drop-zone .inner-box {
  width: 80%;
  height: 60%;
  background-color: #000;
  border-radius: 5px;
  margin-top: 10px; /* Add some margin at the top if needed */
}

.drop-move .drop-zone img {
  max-width: 100%;
  height: auto;
}

.box {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  border: 4px solid #d10dd1;
  background: linear-gradient(137deg, #d10dd1 0%, #1a32b4 110.64%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  flex-direction: column;
}

footer {
  text-align: center;
  background-color: #d10dd1;
  color: white;
  width: 100%;
  bottom: 3;
}
